<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Pizza </title>
</head>
<body>
    <h1>Order a Pizza</h1>
    <form action="{% url 'order' %}" method="post">
         {% csrf_token %}

        <!-- DO NOT REQUIRED THE FOLLOWING TAGS AS WE HAVE USED DJANGO FORMS  -->

        <!-- <label for="topping1" >Topping 1:</label>
        <input id="topping1" type="text" name="topping1"  />

        <label for="topping2" >Topping 2:</label>
        <input id="topping2" type="text" name="topping2"  />

        <label for="size" >Size:</label>
        <select id="size" type="text" name="size"  >
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
        </select> -->
        
        {{pizzaform}}

        <input type="submit"  value="Order Pizza" />
    </form>
</body>
</html>
